.background{
    background-color:whitesmoke;
    display:grid;
    grid-template-areas: 
    "Lobby Lobby Lobby Lobby"
    "Player1 image image blank"
    "Player2 image image blank"
    "Player3 image image blank"
    "Player4 image image Play";

    grid-template-columns: 1fr, 2fr, 2fr, 1fr;
    column-gap: 5px;
    padding: 1rem;

}

.loader{
    
  border: 2px solid #848484;
  border-radius: 50%;
  border-top: 2px solid #ff7300;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  display:none;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body{
 background-color: cadetblue;
}


@media(min-width:769px) {
.lobby{
    grid-area:Lobby;
    background-color: rgb(253, 161, 161);
}

.player1{
    display:block;
    grid-area:Player1;
    background-color: rgb(166, 216, 255);
    width: 90%;
}
.player2{
    display:block;
    grid-area:Player2;
    background-color: rgb(166, 216, 255);
    width: 90%;
}
.player3{
    display:block;
    grid-area:Player3;
    background-color: rgb(166, 216, 255);
    width: 90%;
}
.player4{
    display:block;
    grid-area:Player4;
    background-color: rgb(166, 216, 255);
    width: 90%;
}

.play{
    grid-area:Play;
    display: block;
    background-color: rgb(255, 164, 67);
    border-style: none;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    font-size:xx-large;
    width:100%;
}

.play:hover{
    grid-area:Play;
    background-color: rgb(67, 180, 255);
}

.play:focus{
    grid-area:Play;
    background-color: rgb(67, 180, 255);
}

.blank{
    grid-area:blank;
    display: block;
    background-color: rgb(233, 208, 208);
    
}
.image{
    grid-area: image;
    background-color: rgb(231, 135, 135);
    width:75%;
    
}

p{
    font-size: "xx-larger";
}

}

@media(max-width:768px) {
    .lobby{
    grid-area:Lobby;
    font-size:medium;
    background-color: rgb(253, 161, 161);
}

.player1{
    display:block;
    grid-area:Player1;
    background-color: rgb(166, 216, 255);
    
    font-size: smaller;
}
.player2{
    display:block;
    grid-area:Player2;
    background-color: rgb(166, 216, 255);
    
    font-size: smaller;
}
.player3{
    display:block;
    grid-area:Player3;
    background-color: rgb(166, 216, 255);
   
    font-size: smaller;
}
.player4{
    display:block;
    grid-area:Player4;
    background-color: rgb(166, 216, 255);
  
    font-size: smaller;
}

.play{
    grid-area:Play;
    display: block;
    background-color: rgb(255, 164, 67);
    border-style: none;
    border-top-left-radius: 20%;
    border-bottom-right-radius: 20%;
    width:100%;
    
}

.play:hover{
    grid-area:Play;
    background-color: rgb(67, 180, 255);
}

.play:focus{
    grid-area:Play;
    background-color: rgb(67, 180, 255);
}

.blank{
    grid-area:blank;
    display: block;
    background-color: rgb(233, 208, 208);
    
}
.image{
    grid-area: image;
    background-color: rgb(231, 135, 135);
    width:75%;
    
    
}

p{
    font-size: "small";
}
}