.main-nav{
display:flex;
justify-content:space-between;
background-color:black;

padding:2rem;


}

.nav-brand{
    background-color:white;
    justify-content:center;
    display:flex;
    padding:2rem;
}

.nav-toggle{
    background-color:white;
    display:none;
    padding: .5rem;

}

  .nav-menu{
    display:flex;
    background-color:white;


    gap:2vw;
}



@media(max-width:760px){

   /*.nav-menu{ 
    display: none;
    position: absolute;
    background-color:beige;
    width: 75%;
    height: 10%;
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 8rem;
   }*/

   .nav-menu.show{
    display: "block";
    position: absolute;
    background-color:beige;
    width: 200px;
    top:0;
    right:0;
    row-gap: 20px;
    padding:0;
    margin-top: 10rem;

   }

   li a{
     display: block;
     color: black;
      padding: 12px;
      text-decoration: none;
   }



   .nav-menu.hide{
    display:none;
   }

   .nav-toggle{
    display:block;
    background-color:white;
    padding: .5rem;
    width: 50px;
    height:50px;
    
   }

   .nav-toggle:hover{
    display:block;
    background-color: lavender;
    padding: .5rem;
   }

   .span{
    background-color:BLACK;
    display:block;
    width: 90%;
    height: 10%;
    padding:2px;
    margin-top: 10%;

   }



   
}