body, html { 
    height: 100%; 
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    background-color: rgba(25,25,25,1);
    overflow: hidden;
}

#blackhole {
    height: 90%;
    width: 90%;
    position: relative;
    display: flex;
}

.centerHover {
    width: 500px;
    height: 500px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -128px;
    margin-left: -128px;
    z-index: 2;
    cursor: pointer;
    line-height: 255px;
    text-align: center;
    transition: all 500ms;
}

.centerHover.open {
    opacity: 0;
    pointer-events: none;
}

.centerHover:hover span {
    color: #8be2ff;
}

.centerHover:hover span:before { 
    background-color: #7ecadb; 
}

.centerHover:hover span:after { 
    background-color: #ffbaba; 
}

.centerHover span {
    color: #86d8e3;
    font-family: serif;
    font-size: 18px;
    position: relative;
    transition: all 500ms;
}

.centerHover span:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 16px;
    margin-right: 12px;
    margin-bottom: 4px;
    background-color: #8cf0ff;
    transition: all 500ms;
}

.centerHover span:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 16px;
    margin-left: 12px;
    margin-bottom: 4px;
    background-color: #49f2fe;
    transition: all 500ms;
}

canvas {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
}

#blackhole {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
}

.centerHover {
    width: 255px;
    height: 255px;
    background-color: transparent;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -128px;
    margin-left: -128px;
    z-index: 2;
    cursor: pointer;
    line-height: 255px;
    text-align: center;
    transition: all 500ms;
}

.centerHover.open {
    opacity: 0;
    pointer-events: none;
}

.centerHover:hover span {
    color: #4fffb0;
}

.centerHover:hover span:before { 
    background-color: #ff8383; 
}

.centerHover:hover span:after { 
    background-color: #ff8383; 
}

.centerHover span {
    color: #f0ff67;
    font-family: serif;
    font-size: 18px;
    position: relative;
    transition: all 500ms;
}

.centerHover span:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 16px;
    margin-right: 12px;
    margin-bottom: 4px;
    background-color: #666;
    transition: all 500ms;
}

.centerHover span:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 16px;
    margin-left: 12px;
    margin-bottom: 4px;
    background-color: #666;
    transition: all 500ms;
}

canvas {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: auto;
} 
