.main-nav{
display: grid;
grid-template-areas: 
"nav-brand nav-menu"
;
grid-template-columns: 1fr,2fr;
background-color: black;
font-family: "blippo-mn", sans-serif;
font-weight: 900;
font-style: normal;
padding: 1rem;


}

.main-nav > div.nav-brand{
    grid-area:"nav-brand";
    text-align: center;
    background-color: white;
    width:400px;
   border-radius: 10%;
}

.background{
    display: flex;
    column-gap: 50px;
    width:auto;
    background-color:lightskyblue;
    padding-bottom: 20px;
}

.background2{
    display: flex;
    column-gap: 50px;
    width:auto;
    background-color:lightskyblue;
    padding-bottom: 20px;
}


.content-container {
    display: grid;
    grid-area: content-container;
    grid-template-areas:
    "header"
    "info"
    ;
    background-color: rgb(100, 155, 200);
  font-family: "blippo-mn", sans-serif;
font-weight: 900;
font-style: normal;
    margin-bottom: 2.5%;
    column-gap:10%;
    width:40%;
    padding:10px;
    grid-gap:10px;

    
}

.content-container> div.header{
    grid-area: header;
    text-align: center;
    background-color:darkslateblue;
    color:rgb(250, 241, 188);
    padding:20px 0;
    border-radius: 10%;

}


.content-container > div.info{
    grid-area:info;
    padding:20px 0;
    font-family: "argent-pixel-cf", sans-serif;
   font-weight: 400;
   font-style: normal;
}




@media(min-width:761px) {
    .nav-toggle {
        background-color: white;
        display: none;
        padding: .5rem;

    }

  .main-nav > ul.nav-menu{
        display: flex;
        background-color: none;
        font-family: "dubbeldik-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
        list-style-type: none;
        right:5%;
        padding: 0;
        column-gap:5px;
        margin-top: 5%;
    }

    li a{
        float: left;
        background-color: red;
        border-radius: 10%;
        color: azure;
        margin-right: 50px;
        font-size: x-large;
        text-decoration: none;
        padding-left:2px;
        padding-right:2px;
    }

    li a:hover {
        background-color: greenyellow;
        color: black;
    }

    li a:focus {
        background-color: greenyellow;
        color: black;
    }

}




@media(max-width:760px) {

    .nav-menu.show {
        display: "block";
        position: absolute;
        background-color: whitesmoke;
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
        top: 0;
        right: 0;
        margin-top: 6rem;
        margin-right: 1rem;
        border-radius: 10%;
        list-style-type: none;
        row-gap: 0;

    }



    li a {
        display: block;
        background-color: whitesmoke;
        color: black;
        text-decoration: none;
        font-family: "dubbeldik-mn", sans-serif;
        font-weight: 400;
        border-radius: 10%;
        font-style: normal;
        height: 2rem;
    }

    li a:hover {
        display: block;
        background-color: goldenrod;
        color: black;
        text-decoration: none;
        font-family: "dubbeldik-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 2rem;
    }

    li a:focus {
        display: block;
        background-color: goldenrod;
        color: black;
        text-decoration: none;
        font-family: "dubbeldik-mn", sans-serif;
        font-weight: 400;
        font-style: normal;
        height: 2rem;
    }



    .nav-menu.hide {
        display: none;
    }

    .nav-toggle {
        display: block;
        background-color: #E0115F;
        border-radius: 10%;
        padding: .5rem;
        width: 50px;
        height: 50px;

    }

    .nav-toggle:hover {
        display: block;
        background-color: greenyellow;
        padding: .5rem;
    }

    .nav-toggle:focus {
        display: block;
        background-color: greenyellow;
        padding: .5rem;
    }


    span.open {
        background-color: whitesmoke;
        display: block;
        width: 90%;
        height: 10%;
        padding: 2px;
        margin-top: 10%;
        transition: .5s;
        border-radius: 10%;
    }


    span.close {
        border-radius: 10%;
        background-color: black;
        rotate: 90deg;
        display: block;
        width: 90%;
        height: 10%;
        padding: 2px;
        margin-right: 1rem;
        transition: .5s;
        row-gap: normal;
    }





}