.background{
    display:grid;
    background-color: rgb(209, 229, 255);

    grid-template-areas: 
    "Title Menu "
    "Location City-Level"
    "City-Entry Weather"

    ;
     height:600px;
}


.Title{
    display:block;
    width:40%;
    grid-area:Title;
    background-color: whitesmoke;
    
}

.Menu{
    display:block;
    width:40%;
    grid-area: Menu;
    background-color:aliceblue;
}

.location.show{
    display:block;
    width:40%;
    grid-area:Location;
    background-color: azure;
}

.location.hide{
    display:none;
}
.City-Level.show{
    display: block;
    width:40%;
    grid-area:City-Level;
    background-color: brown;
}
.City-Level.hide{
    display:none;
}

.City-Entry.show{
    display: block;
    width:40%;
    grid-area:City-Entry;
    background-color: rgb(47, 15, 4);
    color:white;
}
.City-Entry.hide{
    display:none;
}
.Weather.show{
    display: block;
    width:40%;
    grid-area:Weather;
    background-color: rgb(42, 237, 51);

}

.Weather.hide{
    display:none;
}