html {
    box-sizing: border-box;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: "panoptica", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #1f241f;
  }
  
  .app {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: fit-content;
    background-color: rgb(2, 0, 3);
    border-radius: 10%;
    box-shadow: 0 20px 20px 0 rgba(255, 255, 255, 0.14), 0 30px 10px -20px rgba(255, 255, 255, 0.2), 0 10px 50px 0 rgba(255, 255, 255, 0.12);
  }
  
  header {
    width: 100%;
    font-size: 30px;
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #2b00ff;
    color:white;
    font-family: "adhesive-nr-eight", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quotes {
    padding: 20px 50px;
    min-height: 200px;
    font-family: "panoptica", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .quote-text {
    padding-bottom: 20px;
    font-size: 25px;
    color: rgb(255, 255, 255);
  }
  
  .controls {
    width: 100%;
    padding: 20px 50px;
  }
  
  .button {
    display: block;
    color: white;
    border-radius: 10%;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    width: 100%;
    height:75px;
    font-size: 20px;
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.838), 0 3px 1px -2px rgba(255, 255, 255, 0.838), 0 1px 5px 0 rgba(255, 255, 255, 0.838);
    font-family: "panoptica", sans-serif;
    font-weight: 400;
    font-style: normal;
  
  }

  .wrong-answer{
    background-color: rgb(255, 74, 74);
    text-decoration: none;
    color: black;
  }

  .wrong-answer:hover{
    background-color: rgb(201, 11, 11);

  }
  
  .twitter {
    background-color: #a5f54f;
    text-decoration: none;
    color: black;
  }
  
  .twitter:hover {
    background-color: #208935;
  }
  
  .new-quote {
    background-color: #a1b5ff;
    margin-bottom: 15px;
    color: black;
  }
  
  .new-quote:hover {
    background-color: #34438d;
  }
  
  .new-quote:disabled {
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
  }
  
  @media screen and (max-width: 600px) {
    .app {
      width: 100%;
    }
    .quote-text {
      font-size: 18px;
    }
  }